
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
h1{
    text-align: center;
}

ul{
    margin-bottom: 0;
    padding: 0;
}

ul li{
    border: 1px solid gray;
    padding: 9px;
    list-style: none; 
    
   
}

input{
    border: none; 
    width: 100%;
}

